.ProseMirror {
  p.edim-paragraph {
    margin: 10px 0;

    &:first-child {
      // margin-top: 10px;
    }
    &.edim-align-center {
      text-align: center;
    }
    &.edim-align-right {
      text-align: right;
    }
  }
}
