.ProseMirror {
  p.edybara-paragraph {
    margin: 0;

    &:first-child {
      // margin-top: 10px;
    }
    &.edybara-align-center {
      text-align: center;
    }
    &.edybara-align-right {
      text-align: right;
    }
    @for $i from 1 through 10 {
      &.edybara-indent-#{$i} {
        margin-left: #{$i * 30}px;
      }
    }
  }
}
