:root {
  --heading-1-font-size: 32px;
  --heading-2-font-size: 24px;
  --heading-3-font-size: 20px;
  --heading-4-font-size: 16px;
  --heading-5-font-size: 14px;
  --heading-6-font-size: 12px;
}

.ProseMirror {
  h1.edybara-heading,
  h2.edybara-heading,
  h3.edybara-heading,
  h4.edybara-heading,
  h5.edybara-heading,
  h6.edybara-heading {
    font-weight: normal;
    margin: 0;
    padding: 0;

    &.edybara-align-center {
      text-align: center;
    }
    &.edybara-align-right {
      text-align: right;
    }
  }

  h1.edybara-heading {
    font-size: var(--heading-1-font-size);
  }
  h2.edybara-heading {
    font-size: var(--heading-2-font-size);
  }
  h3.edybara-heading {
    font-size: var(--heading-3-font-size);
  }
  h4.edybara-heading {
    font-size: var(--heading-4-font-size);
  }
  h5.edybara-heading {
    font-size: var(--heading-5-font-size);
  }
  h6.edybara-heading {
    font-size: var(--heading-6-font-size);
  }

  h1, h2, h3, h4, h5, h6 {
    @for $i from 1 through 10 {
      &.edybara-indent-#{$i} {
        margin-left: #{$i * 30}px;
      }
    }
  }
}
