.ProseMirror {
  h1.edybara-heading,
  h2.edybara-heading,
  h3.edybara-heading,
  h4.edybara-heading,
  h5.edybara-heading,
  h6.edybara-heading {
    font-weight: normal;
    margin: 0;

    &.edybara-align-center {
      text-align: center;
    }
    &.edybara-align-right {
      text-align: right;
    }
  }

  h1.edybara-heading {
    font-size: 32px;
  }
  h2.edybara-heading {
    font-size: 24px;
  }
  h3.edybara-heading {
    font-size: 20px;
  }
  h4.edybara-heading {
    font-size: 16px;
  }
  h5.edybara-heading {
    font-size: 14px;
  }
  h6.edybara-heading {
    font-size: 12px;
  }
}
