.ProseMirror {
  h1.edim-heading,
  h2.edim-heading,
  h3.edim-heading,
  h4.edim-heading,
  h5.edim-heading,
  h6.edim-heading {
    font-weight: normal;
    &.edim-align-center {
      text-align: center;
    }
    &.edim-align-right {
      text-align: right;
    }
  }

  h1.edim-heading {
    font-size: 32px;
  }
  h2.edim-heading {
    font-size: 24px;
  }
  h3.edim-heading {
    font-size: 20px;
  }
  h4.edim-heading {
    font-size: 16px;
  }
  h5.edim-heading {
    font-size: 14px;
  }
  h6.edim-heading {
    font-size: 12px;
  }

  h1.edim-heading:first-child,
  h2.edim-heading:first-child,
  h3.edim-heading:first-child,
  h4.edim-heading:first-child,
  h5.edim-heading:first-child,
  h6.edim-heading:first-child {
    // margin-top: 10px;
  }
}
