.ProseMirror {
  pre.edybara-codeblock-wrapper {
    white-space: pre-wrap;
    border-radius: 3px;
    background-color: #F3F4F5;
    padding: 8px;

    code.edybara-codeblock-code {
      line-height: 24px;
    }
  }
}
