.edim-view-mention-wrapper {
  position: fixed;
}

.edim-view-mention-container {
  overflow-y: auto;
}

.edim-view-mention-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.selected {
    background-color: #EBECF0;
  }
}

.edim-view-mention-list-item-avatar {
  flex-shrink: 0;
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.edim-view-mention-list-item-content {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
}

.edim-view-mention-item-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}