.layer-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.edybara-layer-container {
  position: fixed;
  top: 0;
  left: 0;
  border: #dfe1e6 1px solid;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background: white;
  z-index: 10;
  overflow-y: auto;
}
