.edybara-menubar-color-select {
  position: relative;
}

.edybara-color-layer-list {
  margin: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
}

.edybara-select-option.edybara-color-layer-list-item {
  padding: 0; 
}

.edybara-color-button {
  position: relative;
}

.edybara-color-button-icon {
  width: 16px;
  height: 16px;
  fill: var(--spindle-950);
}

.current-font-color {
  position: absolute;
  background-color: var(--spindle-700);
  height: 2px;
  width: 10px;
  bottom: 7px;
  left: 7px;
  border-radius: 4px;
}