.edybara-devkit-codemirror-container {
  width: 100%;
  margin-top: 12px;
}

.edybara-devkit-codemirror-wrapper {
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  height: 500px;
  overflow-y: auto;
}
