.ProseMirror {

  li.edim-task-list-item {
    position: relative;
  }

  ul.edim-task-list {
    padding-left: 0;
    list-style-type: none;

    li.edim-task-list-item {
      word-break: break-all;
      line-height: normal;
      display: flex;

      &:first-child {
        margin-top: 10px; 
      }
      margin: 10px 0;

      p.edim-paragraph {
        margin: 0;
      }

      &.edim-align-center {
        text-align: center;
        justify-content: center;
      }
      &.edim-align-right {
        text-align: right;
        justify-content: flex-end;
      }

      @for $i from 1 through 6 {
        &.edim-indent-#{$i} {
          padding-left: 30px * $i;
        }
      }

      &::before {
        cursor: pointer;
        font-family: auto;
        vertical-align: top;
        margin-left: -1.5em;
        margin-right: 0.3em;
        margin-top: 1px;
        text-align: right;
        display: inline-block;
        white-space: nowrap;
        width: 1.2em;
        flex-shrink: 0;
        content: '\2610';
      }

      &[data-checked=true]::before {
        content: '\2611';
      }
    }
  }
}
