@import '../src/components/cell-button.scss';

.ProseMirror .edybara-table-container {
  overflow-x: auto;
  height: auto;

  table.edybara-table {
    display: table;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    margin: 0;

    colgroup.edybara-colgroup {
      display: table-column-group;
      col {
        display: table-column;
      }
    }

    tbody.edybara-tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;

      tr {
        background-color: unset;
      }
      td,
      th {
        vertical-align: top;
        box-sizing: border-box;
        position: relative;
        min-width: 1em;
        border: 1px solid #ddd;
        padding: 3px 5px;
      }

      th {
        font-weight: bold;
        text-align: left;
      }
    }
  }

  &.resize-cursor {
    cursor: ew-resize;
    cursor: col-resize;
  }

  /* Give selected cells a blue overlay */
  .selectedCell:after {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(200, 200, 255, 0.4);
    pointer-events: none;
  }

  .column-resize-handle {
    position: absolute;
    right: -2px;
    top: 0;
    bottom: 0;
    width: 4px;
    z-index: 20;
    background-color: #adf;
    pointer-events: none;
  }
}
