.edim-view-unordered-list, .edim-view-ordered-list {
  list-style-type: none;
  padding: 0;
  margin: 4px 0;
}

.edim-view-list-item {
  padding: 8px 10px;
  min-height: var(--ui-height);
  display: flex;
  align-items: center;
  line-height: normal;
}
