.edim-ui-h1 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h2 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h3 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h4 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h5 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}

.edim-ui-h6 {
  margin: 0;
  line-height: normal;
  flex: 1 1 auto;
}
