.edybara-input {
  background-color: #FAFBFC;
  border-color: #DFE1E6;
  color: #091E42;
  padding: 8px 6px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  font-size: 14px;
}
